@use './variables.module.scss' as *;

.footer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  writing-mode: vertical-rl;
  color: $background;

  a {
    color: $background;
    text-decoration: none;
    &:hover {
      text-decoration: underline;
    }
  }
}