@use "./variables.module.scss" as *;

.links {
  display: flex;
  flex-direction: column;
  padding:50px 0;

  @media (min-width: $md) {
    flex-direction: row;
    padding: 100px 0;
  }
}

.link {
  width: 100%;
  transition: all 0.5s;
  font-size: 1.5rem;
  font-weight: bold;

  &:hover {
    background-color: $primary;
    color: $background;
  }
}

.toStore {
  color: $primary;
  border-top: 2px solid $primary;
  border-left: 2px solid $primary;
  border-bottom: 2px solid $primary;
  border-right: 2px solid $primary;

  // @media (min-width: $md) {
  //   border-right: none;
  // }

  &:hover {
    color: $background;
    background-color: $primary;
  }
}

.toContact {
  color: $secondary;
  border-top: 2px solid $secondary;
  border-left: 2px solid $secondary;
  border-bottom: 2px solid $secondary;
  border-right: 2px solid $secondary;

  // @media (min-width: $md) {
  //   border-right: none;
  // }

  &:hover {
    color: $background;
    background-color: $secondary;
  }
}

.content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 20px;
  padding: 50px;
  width: 100%;
}

.image {
  filter: invert(1);
}
