@use "./variables.module.scss" as *;

.links {
  display: flex;
  flex-direction: column;
  margin-top: 50px;
  
  @media (min-width: $md) {
    flex-direction: row;
    margin-top: 100px;
  }
}

.link {
  width: 100%;
  transition: all 0.5s;
  font-size: 1.5rem;
  font-weight: bold;

  &:hover {
    background-color: $primary;
    color: $background;
  }
}

.toStore {
  color: $background;
  background-color: $primary;

  &:hover {
    color: $background;
    background-color: $primary;
  }
}

.toContact {
  &:hover {
    color: $background;
    background-color: $secondary;
  }
}

.content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 20px;
  padding: 50px;
  width: 100%;
}

.image {
  filter: invert(1);
}
