/* レスポンシブのための画面サイズ一覧 */
$sm: 576px;  // 小型デバイス（例: 横向きスマホ）
$md: 768px;  // タブレット向け
$lg: 992px;  // ノートパソコン向け
$xl: 1200px; // デスクトップ向け

$background: #f2eee9;
$text: #524742;
$pink: #FFCAF5;
$green: #E6FFE6;
$yellow: #FEFECD;
$orange: #FFEBCC;
$blue: #CDFCFF;
