.navigation {
  position: fixed; /* 画面全体を覆う */
  z-index: 500; /* 他の要素よりも手前に表示 */
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  background: $background;
  display: flex; /* 常に flex にしておく */
  justify-content: center;
  align-items: center;
  opacity: 0; /* 初期状態は透明 */
  pointer-events: none; /* 透明状態のときはクリック不可 */
  transform: translateY(-10%); /* 上に少しずらしておくと動きが分かりやすい */
  transition: opacity 0.5s ease, transform 0.5s ease;
}


.open {
  opacity: 1;
  pointer-events: auto;
  transform: translateY(0);
}

.list {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap:20px;
  list-style: none;
  color: $primary;



  @media(min-width: $md) {
    gap: 30px;
  }

  li {
    &:hover {
      filter: brightness(1.4);
    }
  }
}
