@use "./variables.module.scss" as *;

.shopLink {
  position: fixed;
  z-index: 1000;
  bottom: 18px;
  right: 20px;
  width: 45px;
  height: 45px;
  border-radius: 100%;
  background: $primary;
  writing-mode: sideways-rl;
}