.shopCart {
  position: absolute;
  top: 10px;
  left: 50%;
  transform: translateX(-50%);
  width: 24px;
  height: 24px;
}

/* SVG 内の st0 クラスの要素の色を上書き */
.st0 {
  fill: $background;  // 線（塗り）の色を赤に変更
  /* stroke プロパティを使う場合は、stroke も指定できます */
  /* stroke: #0000ff; */
}