/* レスポンシブのための画面サイズ一覧 */
$sm: 576px;  // 小型デバイス（例: 横向きスマホ）
$md: 768px;  // タブレット向け
$lg: 992px;  // ノートパソコン向け
$xl: 1200px; // デスクトップ向け

/* 多摩の風　*/
$background: #f8f6f4; //　桜色
$primary: #006e54; // 萌葱色
$secondary: #ba2636; // 朱色
